FRONT_OFFICE_E2E_BASE_URL=http://localhost:58240
FRONT_OFFICE_E2E_USERNAME=e2e.loan.operator
FRONT_OFFICE_E2E_PASSWORD=SwiftE2E!Run2026
FRONT_OFFICE_E2E_EMPLOYEE_ID=f002647b-5071-f111-b56e-c8e2651ef92d
FRONT_OFFICE_E2E_BRANCH_ID=d6537be3-0f2b-4569-9db1-25b580143c76
FRONT_OFFICE_E2E_CUSTOMER_ACCOUNT_ID=c4a9797e-3122-4bc6-95e6-ab58cdc48e3c
FRONT_OFFICE_E2E_FLOAT=10000
